.navContainer {
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fabdacce;
    padding: clamp(2rem, 5vw, 3rem);
    z-index: 1;
}
.image {
    position: relative;
    height: clamp(7rem, 10vw, 12rem);
    width: clamp(7rem, 10vw, 12rem);
}
.imageContainer {
    position: fixed;
    left:0;
    cursor: pointer;
}
.cartContainer {
    font-size: clamp(1rem, 2vw, 1.5rem);
    cursor: pointer;
    background-color: transparent;
    border:none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.linkContainer {
    display:flex;
    justify-content: space-around;
    width: 50%;
}
.productsContainer {
    position: fixed;
    top:1;
    left:1;
    padding: 1rem 3rem;
    background-color: #fabdacce;
    text-align: left;
    margin-left: -2rem;
    border-radius: 10px;
}
.navLinks {
    text-decoration: none;
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-top: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
    border:none;
}
.navLinks:hover, .navLinks:active, .navLinks:focus {
    cursor: pointer;
    padding-bottom: 14px;
    border-bottom: 2px solid #4e5b52;
}
.navLinksDisabled {
    text-decoration: none;
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-top: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
    border:none;
}
.navLinksDisabled :hover, .navLinkDisabled :active, .navLinkDisabled :focus {
    text-decoration: none;
}
.menuButton {
    background-color: transparent;
    border: none;
}
.buttonSpan {
    font-size: clamp(2rem, 2vw, 3rem);
    color: #4e5b52;
}
.ulContainer {
    position: relative;
    top: 0;
    right: 0;
    list-style-type: none;
    color: #4e5b52;
}
.liGroups {
    margin-top: 3rem;
    font-size: clamp(1.5rem, 2vw, 2rem);
    text-align: right;
}