html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  color: #4e5b52;
  background-color: #eadcd3;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
button {
  -webkit-tap-highlight-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  color: #4e5b52;
}

* {
  box-sizing: border-box;
}
